@using Microsoft.AspNetCore.Identity;
@inject SignInManager<IdentityUser> signInManager
@inject UserManager<IdentityUser> userManager

<div class="container">
	<div class="d-flex justify-content-end align-items-center">

		@if (!signInManager.IsSignedIn(User))
		{
			<a asp-action="SignOut" asp-controller="Account" class="m-4">SIGN OUT</a>
		}
		else
		{
			<a asp-action="SignUp" asp-controller="Account" class="m-4">SIGN UP</a>
			<a asp-action="SignIn" asp-controller="Account" class="m-4">SIGN IN</a>
		}

	</div>

</div>